*.pyz
__pycache__
/.idea
build_VinerX.py
/Lib
/Histories
/lc0_engine_files
/Prompts
/PromptsCatalogue
/libs
/SpeechRecognitionModels
/Settings
/SavedMessages
NeuroMitaLogs.log
Logs/dsl_execution.log
ffmpeg.exe
session_name.session
/FailedAudios
*.wav
/Logs
session_name.session-journal
ffmpeg_download_temp.zip
NeuroMita
/Models
vec-768-layer-12.onnx
/checkpoints
/src/.claude
/.claude
extra/Prompts/CLAUDE.md
CLAUDE.md
/FineTuneData
